/* .header{
    position: fixed; 
    top: 20px; 
    left: 20px;
    z-index: 1000; 

} */
 /* Container for the home icon */
.home-icon-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  /* Styling for the home icon */
  .home-icon {
    font-size: 30px; /* Icon size */
    cursor: pointer; /* Pointer cursor */
    color: #000; /* Icon color */
  }
  
.HomeContainer{
   width:1250px;
    background-color: azure;
}
.home-icon {
    width: 30px; /* Icon width */
    height: 30px; /* Icon height */
    cursor: pointer; /* Changes cursor to pointer on hover */
  }

.title{
    color:darkblue;
    font-size: 20px;
    margin:0;
}
p{
    font-size: 20px; 
}
.containers{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
   gap:10px;
    background-color: #f0f8ff; 
   
}
.subContainer-1{
    display: grid;
    justify-content: space-around;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 150px; 
    text-align: center; 
    border-radius: 10px;
   
    background-color:rgb(113, 113, 220);
    
}
.subContainer-2{
   
    box-shadow: 8px solid black; 
    background-color: lightblue;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 150px; 
    text-align: center; 
    border-radius: 10px;
   background-color: rgb(80, 235, 80); 
  
}
.subContainer-3{
   
    background-color: lightblue;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 150px;
    text-align: center; 
    border-radius: 10px;
    background-color: rgb(244, 91, 116);
    
}
.subContainer-4{
    background-color: lightblue;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 150px; /* Fixed width */
    text-align: center; /* Centers text inside the box */
    border-radius: 10px;
    background-color: orange;

    
}

