.tableContainer {
    padding: 5px;
  }
  
  .userTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .userTable th, .userTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .userTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #333;
    color: white;
  }
  
  .userTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .userTable tr:hover {
    background-color: #ddd;
  }
  