body{
    margin:0;
}
.CusContainer{
    width:1180px;
     background-color: azure;
     margin-right:200px;
 }
 .home-icon {
     width: 30px; 
     height: 30px; 
     cursor: pointer; 
   }
 
 .title{
     color:darkblue;
     font-size: 20px;
 }
 .Cuscontainers{
     display:flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center; 
    gap:10px;
     background-color: #64aeef; 
    
 }
 .subContainer-1{
     
     border: 1px solid #ccc;
     padding: 20px;
     margin: 10px;
     width: 200px; 
     text-align: center; 
     border-radius: 10px;
    
     background-color:rgb(113, 113, 220);
     
 }
 .subContainer-2{
    
     box-shadow: 8px solid black; 
     background-color: lightblue;
     border: 1px solid #ccc;
     padding: 20px;
     margin: 10px;
     width: 200px; 
     text-align: center; 
     border-radius: 10px;
    background-color: rgb(80, 235, 80); 
   
 }
 .subContainer-3{
    
     background-color: rgb(101, 172, 196);
     border: 1px solid #ccc;
     padding: 20px;
     margin: 10px;
     width: 200px;
     text-align: center; 
     border-radius: 10px;
     background-color: rgb(244, 91, 116);
     
 }
 .subContainer-4{
     background-color: lightblue;
     border: 1px solid #ccc;
     padding: 20px;
     margin: 10px;
     width: 200px; /* Fixed width */
     text-align: center; /* Centers text inside the box */
     border-radius: 10px;
     background-color: orange;
 
     
 }
 