body{
    margin:0;
}
.tableContainer {
    padding: 20px;
  }
  
  .CustomerTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .CustomerTable th, .CustomerTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .CustomerTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
  }
  
  .CustomerTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .CutomerTable tr:hover {
    background-color: #ddd;
  }
  