
body{
    margin:0;
}
.HomeContainer{
    width:2500px;
     background-color: azure;
     margin-right:0;
     margin-top: 0;
     padding:20;
 }

 
 .title{
     color:darkblue;
     font-size: 20px;
 }
 .containers{
     display:flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center; 
    gap:10px;
     background-color: #64aeef;
     margin-bottom:20px; 
    
 }

 
 
 .subContainer-1{
    
     background-color: rgb(101, 172, 196);
     border: 1px solid #ccc;
     padding: 20px;
     margin: 10px;
     width: 200px;
     text-align: center; 
     border-radius: 10px;
     background-color: rgb(244, 91, 116);
     flex:1;
 }
 .productDetails {
    display: flex;
    align-items: flex-start;
  }
  
  .productImage {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  
  .productInfo {
    flex: 1;
  }
  
  .productInfo h2 {
    margin-bottom: 10px;
  }
  
  .productInfo p {
    margin: 5px 0;
  }
 
 
 