.tableContainer {
    padding: 20px;
  }
  
  .productTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .productTable th, .productTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .productTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
  }
  
  .productTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .productTable tr:hover {
    background-color: #ddd;
  }
  